
 {% extends 'BASE/base.html' %}
 {% load static %}
 
 {% block content %}
 
 
  <style>
    
    .back {
      background-image: url({% static 'assets/img/homepage/yogii.jpg' %});
      height: auto;
      width: auto;
    }
 
    @media only screen and (max-width: 767px) {
      .b {
        width: auto;
        height: 55px;
        font-size: 1px;
        padding: 1px 1px;
        margin-left: 2%;
        letter-spacing: 1px;
        font-weight: bolder;
      }
    }
    
    
.full{
  padding-left:0 !important;
  padding-right:0 !important;
}
.news{
    width: 100%;
    background: #cc4444;
}

.news marquee{
    font-size: 18px;
    margin-top: 12px
}
.news-content p{
    display: inline;
    color:white;
    font-size: 20px;


}

    
  </style>
 
  <main>
    <!-- slider Area Start-->
    <div class="slider-area">
      <!-- Mobile Menu -->
      <!-- <div class="slider-active"> -->
      <div>
        <div class="single-slider slider-height d-flex align-items-center back">
          <div class="row" style="margin-top: 19%;">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
              <br>
              <div class="row" style="margin-top: 1%;">
                <div class="col-lg-3">                
                  
                  <a href="{% url 'course' %}"><button class="b"
                    style=" margin-top: 1.2%; background: #fff;color: orangered !important;display: inline-block;padding: 15px 24px;font-family: Muli, sans-serif;font-size: 20px;font-weight: bold;border: 0;border: 1px solid white;letter-spacing: 3px;text-align: center;color: #fb246a;text-transform: uppercase;cursor: pointer; border-radius:10px !important;">TRAINING</button>
                </div></a>
                <div class="col-lg-5">
                  <p style="color: none;"></p>
                </div>
                <div class="col-lg-3">
                  <a href="{% url 'joblisting' %}"><button class="b"
                    style=" background: #fff;color: orangered !important;display: inline-block;padding: 15px 46px;font-family: Muli, sans-serif;font-size: 20px;font-weight: bold;border: 0;border: 1px solid white;letter-spacing: 3px;text-align: center;color: #fb246a;text-transform: uppercase;cursor: pointer; border-radius:10px !important;">JOBES</button><br><br></a>
                </div>
 
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider Area End-->
    <!-- Our Services Start -->
    <div class="container-fluid mb-4 full">
      <div class="news"> 
        <marquee class="news-content"> 
            <p>WELCOME TO CLC UP YOUR JOB/TRAINING PORTAL
               </p> 
        </marquee> 
     </div> 
    </div>
    <div class="our-services mt-2">
      <div class="container">
        <!-- Section Tittle -->
        <div class="row">
          <div class="col-lg-12">
            <div class="section-tittle text-center">
              <span>FEATURED TOURS Packages</span>
              <h2>Browse Top Categories</h2>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-contnet-center">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-services text-center mb-30">
              <div class="services-ion">
                <span class="flaticon-tour"></span>
              </div>
              <div class="services-cap">
                <h5><a href="job_listing.html">Design & Creative</a></h5>
                <span>(653)</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-services text-center mb-30">
              <div class="services-ion">
                <span class="flaticon-cms"></span>
              </div>
              <div class="services-cap">
                <h5><a href="job_listing.html">Design & Development</a></h5>
                <span>(658)</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-services text-center mb-30">
              <div class="services-ion">
                <span class="flaticon-report"></span>
              </div>
              <div class="services-cap">
                <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                <span>(658)</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <div class="single-services text-center mb-30">
              <div class="services-ion">
                <span class="flaticon-app"></span>
              </div>
              <div class="services-cap">
                <h5><a href="job_listing.html">Mobile Application</a></h5>
                <span>(658)</span>
              </div>
            </div>
          </div>
          
         
         
        </div>
        <!-- More Btn -->
        <!-- Section Button -->
        <div class="row">
          <div class="col-lg-12">
            <div class="browse-btn2 text-center mt-50">
              <a href="job_listing.html" class="border-btn2">Browse All Sectors</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Services End -->
    <!-- Online CV Area Start -->
   
    <!-- Online CV Area End-->
    <!-- Featured_job_start -->
    <section class="featured-job-area feature-padding">
      <div class="container">
        <!-- Section Tittle -->
        <div class="row">
          <div class="col-lg-12">
            <div class="section-tittle text-center">
              <span>Recent Job</span>
              <h2>Featured Jobs</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <!-- single-job-content -->
           
            <!-- single-job-content -->
           
            <!-- single-job-content -->
           
            <!-- single-job-content -->
            {% for i in job %}
            
             <div class="single-job-items mb-30">
                <div class="job-items">
                  <div class="company-img">
                    <a href="#"><img class="img-circle" src="/media/{{i.job_img}}" alt="" style="width:150px; height:100px;" /></a>
                  </div>
                  <div class="job-tittle job-tittle2">
                    <a href="#">
                      <h4>{{i.job_name}}</h4>
                    </a>
                    <ul>
                      <li>{{i.company_name}}</li>
                      <li>
                        <i class="fas fa-map-marker-alt"></i>{{i.job_location}}
                      </li>
                      <li>Rs.{{i.min_sallery}} - Rs.{{i.max_sallery}}</li>
                    </ul>
                  </div>
                </div>
                <div class="items-link items-link2 f-right">
                  <a href="{% url 'jobdetails' i.id %}">Full Time</a>
                  {% comment %} <span>7 hours ago</span> {% endcomment %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- Featured_job_end -->
    <!-- How  Apply Process Start-->
   
    <!-- How  Apply Process End-->
    <!-- Testimonial Start -->
   
    <!-- Testimonial End -->
    <!-- Support Company Start-->
  
    <!-- Support Company End-->
    <!-- Blog Area Start -->
  
    <!-- Blog Area End -->
  </main>
  
 
 {% endblock content %}
 
 
 



